/* ------------------ FONTS ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* ----------------------------------------------- */

:root {
    --bg: #ffffff;
    --accent: #bacbe5;
    --text: #000000;
    --link: #222222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111111;
        --accent: #bacbe5;
        --text: #ffffff;
        --link: #eeeeee;
    }
}

::selection {
    background: var(--accent);
    color: var(--bg);
}

/* ------------------ GENERAL ------------------ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: var(--text);
    cursor: default;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1.2em;
}

p {
    margin: 0;
}

a,
a:focus {
    color: var(--link);
    cursor: pointer !important;
    transition: 0.2s;
    text-decoration: underline var(--link);
    text-underline-position: under;
    -webkit-text-decoration-line: underline !important;
    -webkit-text-decoration-color: var(--link) !important;
    -webkit-text-decoration-style: solid !important;
    -webkit-text-decoration-thickness: 1px !important;
}

a:hover {
    color: var(--accent);
    cursor: pointer !important;
    transition: 0.2s;
    text-decoration: underline var(--accent);
    text-underline-position: under;
    -webkit-text-decoration-line: underline !important;
    -webkit-text-decoration-color: var(--accent) !important;
    -webkit-text-decoration-style: solid !important;
    -webkit-text-decoration-thickness: 1px !important;
}

a:active {
    background: var(--accent);
    color: var(--text);
}

/* ------------------ WRAPPER ------------------ */

div#wrapper {
    width: 56em;
    margin: auto;
}

/* ------------------ HEADER ------------------ */

div#header {
    font-size: 1.75em;
}

/* ------------------ SECTIONS ------------------ */

.section {
    padding: 4em 0;
}

.flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    flex-direction: column;
    /* border-top: solid 1px black;
    border-bottom: solid 1px black; */
    padding: 0.5em 0;
    flex-wrap: wrap;
}

.flex-item > * {
    flex: 1 1;
}

/* ------------------ FOOTER ------------------ */

div#footer {
    font-size: 0.8em;
}

/* ------------------ MEDIA ------------------ */

@media only screen and (max-width: 1280px) {
    div#header {
        font-size: 1.5em;
    }

    div#wrapper {
        padding: 2em;
        width: 100%;
    }

    div#footer {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 1em;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-size: 1em;
    }

    div#wrapper {
        padding: 1em;
        width: 100%;
    }

    div#header {
        font-size: 1.25em;
    }

    .flex-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
