@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* ----------------------------------------------- */

:root {
    --background: #F4EBE2;
    --content-text: black;
    --accent: #AA8878;
    --header-text: black;
    --section-title-text: black;
    --subtext: #AA8878;
    --hovered-text: white;
    --fontSizes-xs: 0.75rem;
    --fontSizes-sm: 0.875rem;
    --fontSizes-md: 1rem;
    --fontSizes-lg: 1.125rem;
    --fontSizes-xl: 1.25rem;
}

/* ------------------ GENERAL ------------------ */

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 18px;
    color: var(--content-text);
    background-color: var(--background);
    cursor: default;
    padding: 5em 0 2em 0;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#wrapper {
    margin:auto;
    width: 56rem;
}

html {
    scroll-behavior: smooth;
}

hr {
    border: 1px dashed var(--content-text);
}

code {
    font-family: 'Roboto Mono', monospace;
    color: var(--subtext);
    padding: 2px 8px;
    font-size: 16px;
}

/* ------------------ SECTION ------------------ */

div#content div.section {
    padding: 2em 0;
}

/* ------------------ HEADER ------------------ */

div.main-component>div#header {
    display: flex;
}

body div#header intro {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 56px;
    color: var(--header-text);
}

div#header accent {
    color: var(--accent);
}

div#header div#summary {
    font-size: 21px;
}

div#header div#summary b {
    font-weight: 700;
}

/* ------------------ FOOTER ------------------ */

a,
a:focus {
    color: var(--accent);
    cursor: pointer !important;
    transition: 0.25s;
    text-decoration: underline;
}

a:hover {
    color: var(--hovered-text);
    cursor: pointer !important;
    background-color: var(--accent);
    text-decoration: none;
}

/* ------------------ MEDIA ------------------ */

@media only screen and (max-width: 1080px) {
    div#wrapper {
        padding: 1em;
        width: 100%;
    }
}