@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* ----------------------------------------------- */

:root {
    --background: #FFFFFF;
    --link: #222222;
    --link-hover: plum;
    --content-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222222;
        --link: #eeeeee;
        --link-hover: plum;
        --content-text: #FFFFFF;
    }
}

/* ------------------ GENERAL ------------------ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    font-family: 'Helvetica Neue', Helvetica, Sans-serif;
    font-size: 18px;
    color: var(--content-text);
    cursor: default;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    margin: 0;
}

b {
    font-weight: 700;
}

a,
a:focus {
    color: var(--link);
    cursor: pointer !important;
    transition: 0.2s;
    text-decoration: 1px underline var(--link);
    text-underline-position: under;
}

a:hover {
    color: var(--link-hover);
    cursor: pointer !important;
    text-decoration: 1px underline var(--link-hover);
    text-underline-position: under;
}

code {
    padding: 2px 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: var(--content-text);
}

hr {
    border: 1px solid var(--content-text);
}

/* ------------------ WRAPPER ------------------ */

div#wrapper {
    width: 42em;
    margin: auto;
}

/* ------------------ SECTION ------------------ */

.section {
    padding: 4em 0;
}

/* ------------------ PROJECTS ------------------ */

.flex-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.flex-main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* ------------------ MEDIA ------------------ */

@media only screen and (max-width: 1080px) {
    div#wrapper {
        padding: 1em;
        width: 80%;
    }
}

@media only screen and (max-width: 720px) {
    div#wrapper {
        padding: 1em;
        width: 100%;
    }

    .flex-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .flex-title {
        padding-bottom: 2em;
    }
}